Babel==1.3
PyYAML==3.11
argparse==1.3.0
iso8601==0.1.10
msgpack-python==0.4.6
netaddr==0.7.13
netifaces==0.10.4
oslo.config==1.9.3
oslo.i18n==1.5.0
oslo.serialization==1.4.0
oslo.utils==1.4.0
pbr==0.10.8
prettytable==0.7.2
python-ceilometerclient==1.0.13
python-heatclient==0.3.0
python-keystoneclient==1.2.0
python-novaclient==2.23.0
pytz==2014.10
requests==2.6.0
simplejson==3.6.5
six==1.9.0
stevedore==1.3.0
